@import 'src/assets/sass/variables';

.carousel,
.carousel-item,
.active,
.carousel-inner {
  height: 100%;
}

.carousel {
  z-index: 1;
}


/*Caption*/

.flex-center {
  color: #fff;
}

@media (min-width: 776px) {
  .carousel .view {
    ul li {
      display: inline;
    }
    .full-bg-img ul li .flex-item {
      margin-bottom: 1.5rem;
    }
  }
}

.carousel-item {
  &#slide-1 {
    background-image: url('../../assets/img/carousel/slide1.jpg');
  }
  &#slide-2 {
    background-image: url('../../assets/img/carousel/slide2.jpg');
  }
  &#slide-3 {
    background-image: url('../../assets/img/carousel/slide3.jpg');
  }
  background-repeat: no-repeat;
  background-size: cover;
}