<!--Carousel Wrapper-->
<div id="carousel" class="carousel slide carousel-slide white-text" data-ride="carousel" data-interval="5000">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!-- First slide -->
    <div class="carousel-item active view hm-black-light" id="slide-1">

      <!-- Caption -->
      <div class="full-bg-img flex-center white-text"> 
        <ul class="animated fadeInUp col-md-12">
          <li>
            <h1 class="h1-responsive flex-item">Titulo del slide 1</h1>
            <li>
              <p class="flex-item">Subtitulo del slide 1</p>
            </li>
            <li>
              <a href="#" class="btn red accent-4 btn-lg flex-item waves-effect waves-light">Regístrate</a>
            </li>
            <li>
              <a href="#" class="btn indigo darken-4 btn-lg flex-item waves-effect waves-light">Conocer más</a>
            </li>
        </ul>
      </div>
      <!-- /.Caption -->

    </div>
    <!-- /.First slide -->

    <!-- Second slide -->
    <div class="carousel-item view hm-black-light" id="slide-2">

      <!-- Caption -->
      <div class="full-bg-img flex-center white-text">
        <ul class="animated fadeInUp col-md-12">
          <li>
            <h1 class="h1-responsive">Titulo slide 2</h1>
          </li>
          <li>
            <p>Subtitulo slide 2</p>
          </li>
          <li>
            <a href="#" class="btn red accent-4 btn-lg flex-item waves-effect waves-light">Regístrate</a>
          </li>
          <li>
            <a href="#" class="btn indigo darken-4 btn-lg flex-item waves-effect waves-light">Conocer más</a>
          </li>
        </ul>
      </div>
      <!-- /.Caption -->

    </div>
    <!-- /.Second slide -->

    <!-- Third slide -->
    <div class="carousel-item view hm-black-light" id="slide-3">

      <!-- Caption -->
      <div class="full-bg-img flex-center white-text">
        <ul class="animated fadeInUp col-md-12">
          <li>
            <h1 class="h1-responsive">Titulo slide 3</h1>
          </li>
          <li>
            <p>Subtitulo slide 3</p>
          </li>
          <li>
            <a href="#" class="btn red accent-4 btn-lg flex-item waves-effect waves-light">Regístrate</a>
          </li>
          <li>
            <a href="#" class="btn indigo darken-4 btn-lg flex-item waves-effect waves-light">Conocer más</a>
          </li>
        </ul>
      </div>
      <!-- /.Caption -->

    </div>
    <!-- /.Third slide -->

  </div>
  <!--/.Slides-->

  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->