@import 'src/assets/sass/variables';


.navbar {
  background-color: transparent;
}

.scrolling-navbar {
  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
  background-color: $primary-color;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: $primary-color;
  }
}

.navbar-brand{
    height: 2.5em;
    #logo{
        height: 100%;
    }
}