<!--Navbar-->
<nav data-gumshoe-header class="navbar navbar-toggleable-md navbar-dark fixed-top scrolling-navbar">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#app-navbar" aria-controls="navbarNav1"
      aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    <a class="navbar-brand" href="#">
      <img id="logo" src="src/logo.png">
    </a>
    <div class="collapse navbar-collapse" id="app-navbar">
      <ul class="navbar-nav mr-auto" data-gumshoe>
        <li class="nav-item active">
          <a data-scroll href="#home" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item">
          <a data-scroll href="#services" class="nav-link" >Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Cobertura</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Contacto</a>
        </li>
      </ul>
      <form class="form-inline waves-effect waves-light">
        <input class="form-control" type="text" placeholder="Buscar">
      </form>
    </div>
  </div>
</nav>
<!--/.Navbar-->