<div class="container">
  <div class="row">
    <h1 class="h1-responsive section-title"><span class="indigo-text">|</span> Servicios <span class="indigo-text">|</span></h1>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="box wow fadeInLeftBig" data-wow-duration="1.5s">
          <div class="box-icon">
              <span class="fa fa-4x fa-truck"></span>
          </div>
          <div class="info">
              <h4 class="text-center">Title</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!</p>
              <a href="" class="btn waves-effect waves-light">Link</a>
          </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="box wow fadeInRightBig" data-wow-duration="1.5s">
        <div class="box-icon">
          <span class="fa fa-4x fa-linode"></span>
        </div>
        <div class="info">
          <h4 class="text-center">Title</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo
            nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor
            soluta!</p>
          <a href="" class="btn waves-effect waves-light">Link</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="box wow fadeInLeftBig" data-wow-duration="1.5s">
        <div class="box-icon">
          <span class="fa fa-4x fa-grav"></span>
        </div>
        <div class="info">
          <h4 class="text-center">Title</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo
            nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis
            dolor soluta!</p>
          <a href="" class="btn waves-effect waves-light">Link</a>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="box wow fadeInRightBig" data-wow-duration="1.5s">
        <div class="box-icon">
          <span class="fa fa-4x fa-handshake-o"></span>
        </div>
        <div class="info">
          <h4 class="text-center">Title</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo
            nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis
            dolor soluta!
          </p>
          <a href="" class="btn waves-effect waves-light">Link</a>
        </div>
      </div>
    </div>
  </div>
</div>